@use "./variables" as *;

body {
  scroll-behavior: smooth !important;
  background-color: $gp-white;
}

.gp-container {
  width: 90%;
  margin: 0 auto;
}

.gp-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.gp-btn {
  color: $gp-white;
  font-weight: 400;
  font-size: 1rem;
  padding: 20px 30px;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);

  &.gp-btn-red {
    background-color: $gp-red;

    &:hover {
      background-color: $gp-gray;
    }
  }

  &.gp-btn-gray {
    background-color: $gp-gray;

    &:hover {
      background-color: $gp-red;
    }
  }
}

section {
  padding: 50px 0;
}

// media-query md
@media screen and (min-width: 768px) {
  .gp-container {
    width: 80%;
    margin: 0 auto;
  }
}


